

<h1>Re:</h1>
<div>
   E-Mail Empfangsbestätigung für alle.
</div>

<div>
  <% if authenticated? %>
    Du bist angemeldet als <%= browserid_email %>.
    <%= logout_link %>
    Dein API-Key: <%= current_user.api_key %>
  <% else %>
    <%= login_link "Mit E-Mail anmelden" %>
  <% end %>
</div>

<h2>So geht's:</h2>

<ol>
  <li>Tracker-plugin installieren</li>
  <li>E-Mail versenden</li>
  <li>Empfangsbestätigung bekommen sobald die E-Mail geöffnet wird</li>
</ol>




